@model ErrorViewModel


<div class="row mt-5">
    <div class="col-md-6">
        <img src="~/images/error.png" alt="robot-error" style="width:100%;"/>
    </div>

    <div class="col-md-6">
        <h1 class="text-dark">Erro.</h1>
        <h2 class="text-dark">Ocorreu um erro durante o processamento da sua solicitação.</h2>

        <br />

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Solicitação ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <h3>Suporte:</h3>

        <p class="text-justify">
            Para mais informações entre em contato com nosso suporte.
        </p>
        <p class="text-justify">
            <strong>Email:</strong> suporte@gmail.com <br />
            <strong>Telefone 1:</strong> (32) 3222-5555 <br />
            <strong>Telefone 2:</strong> (32) 3284-9374 <br />
        </p>
    </div>
</div>