@model Person

<h2>Insert Person</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Person" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" type="text" required maxlength="50" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Birth" class="control-label"></label>
                        <input asp-for="Birth" class="form-control" type="date" required />
                        <span asp-validation-for="Birth" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" required maxlength="50" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" required maxlength="100" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="text" readonly required id="imageBase64StringField"/>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Profile picture</label>
                            <br />
                            <input type="radio" value="webcam" id="radioWebcam" onclick="showWebcam()" checked> Capture an Image with Webcam<br>
                            <input type="radio" value="inputFile" id="radioInputFile" onclick="showInputFile()"> Choose a local photo<br>
                            <br />
                        </div>
                    </div>

                    <div class="row" id="divChoice">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Camera</div>
                                <div class="panel-body">
                                    <div id="divWebcam" class="center-block"></div>
                                    <br />
                                    <input type="button" class="btn btn-primary" value="Take a picture" onClick="takePicture()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Final photo</div>
                                <div class="panel-body">
                                    <div id="imageResult" style="height:160px;"></div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Insert" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-dark">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ModalImageCustomization.cshtml" />

<script src="~/lib/webcamjs/webcam.js"></script>
<script src="~/js/Person/create.js"></script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}